<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tetris.com"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".TetrisApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_app_dra"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".activities.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            tools:targetApi="lollipop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="921f99449ab46d7a5b3821d6eefab830d27e9050" />
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|screenLayout|screenSize"
            android:icon="@drawable/ic_app_dra"
            android:label="@string/app_name"
            tools:targetApi="lollipop"/>
        <activity
            android:name=".activities.GameActivity"
            android:label="@string/title_activity_game"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".activities.HighScoreActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name=".activities.SettingsActivity"
            android:icon="@drawable/ic_settings"
            android:label="@string/title_activity_settings"/>
        <activity
            android:name=".activities.AdvancedSettingsActivity"
            android:icon="@drawable/ic_settings"
            android:label="@string/pref_category_advanced"/>
        <activity
            android:name=".activities.HelpActivity"
            android:label="@string/title_activity_help"/>

        <!-- <receiver android:name="hamaianh.online.com.components.NoiseBroadcastReceiver">
		   <intent-filter>
		      <action android:name="android.media.AUDIO_BECOMING_NOISY" />
		   </intent-filter>
		</receiver>
        
        <receiver android:name="hamaianh.online.com.components.RingerModeChangeReceiver">
		   <intent-filter>
		      <action android:name="AudioManager.RINGER_MODE_CHANGED_ACTION" />
		   </intent-filter>
		</receiver> -->

    </application>
</manifest>